<div class="w-100 search-height bg-info d-flex justify-content-center align-items-center">
    <form class="form-inline w-75 row my-2 my-lg-0">
        <input [formControl]="movieSearch" class="col-6" type="search" placeholder="Search" aria-label="Search">
        <mat-form-field class="col-3">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="movieDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button class="btn btn-outline-success col-3 " (click)="searchMovie()" 
        [disabled]="movieSearch.value === null || movieSearch.value.length < 1 || !movieDate.value">Search</button>
    </form>
</div>